#contact {
  position: relative;
  z-index: 2;
  background: rgba(91,194,206,.8);
  color: #fff;
  padding-bottom: 20px;
}
#contact h2 span{
  background: rgba(91,194,206,0);
}
#contact a {
  text-decoration:none;
  color:#fff;
}

#mapBackground {
  //height is set in maps.js
  width: 100%;
  position: relative;
  z-index: 1;
  //margin-bottom is set in maps.js
}

#contact .form-control {
  background: rgba(0,0,0,.2) !important;
  border: 1px solid #569DAC;
  color: #fff;
}
#contact .form-control::-webkit-input-placeholder {
  color: #fff;
}

#map {
  margin-top:15px;
  height: 400px;
  width: 100%;
}

@media (max-width: 992px) {
  .page-title h2:before,
  .page-title h2:after {
    width: 35%;
  }
}
@media (max-width: 700px) {
  .page-title h2:before,
  .page-title h2:after {
    width: 30%;
  }
}
@media (max-width: 550px) {
  .page-title h2:before,
  .page-title h2:after {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .page-title h2:before,
  .page-title h2:after {
    width: 20%;
  }
}
