footer {
  position: relative;
  z-index: 2;
  background: #fff;
  color: #414141;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}
footer i {
  color: #414141;
}

footer p {
  margin: 0px;
}

#s {
  display: inline-block;
  padding-top: 10px;
}
#s a {
  width: 28px;
  height: 28px;
  margin: 0 6px 6px 0;
  display: block;
  float: left;
  text-indent: -9999px;
  background-position: 0 0px;
  transition: all 0.3s ease-in-out;
}
#s a:hover {
  width: 28px;
  height: 28px;
  margin: 0 6px 6px 0;
  display: block;
  float: left;
  text-indent: -9999px;
  background-position: 0 -38px;
}
#s a img{
  border: none;
}

.facebook {
  background: url(img/page.png) no-repeat;
}
.github {
  background: url(img/github.png) no-repeat;
}
