footer {
  position: relative;
  z-index: 2;
  background: #fff;
  color: #414141;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
footer i {
  color: #414141;
}

footer p {
  margin: 0px;
}
