header {
  height: 50px !important;
  background: rgba(255,255,255,1) !important;
}

.navbar-fixed-top {
  z-index: 9999;
}

@media (min-width: 768px) {
  .navbar {
    margin:0px;
    border:none;
    min-height:0px !important;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-default {
    background:rgba(255,255,255,.8) !important;
    border-color:transparent !important;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  }

  .navbar .nav > li > a {
    color: #414141;
    border-top: 0px solid transparent;
    text-shadow: none;
    font-size: 14px;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
  }

  .active,
  .navbar .nav > li > a:hover {
    background: #080808 !important;
    color: #fff !important;
  }

  .navigation {
    height: 38px !important;
  }

  a.navbar-brand {
    color: #414141 !important;
  }

  .logo {
    padding-top:4px;
  }
}
