#resources {
  background: #fff;
  color: #414141;
  margin-bottom:10px;
}
#resources i {
  color: #414141;
}
#resources h2 {
  color: #414141;
}
#resources h2 span {
  background: #fff;
  color: #414141;
}

#resources .page-title h2:before {
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
#resources .page-title h2:after {
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
